<!DOCTYPE html>
<html>

<head>
	<title>Grid Accordion - Responsive and touch-enabled grid</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Grid Accordion is a premium WordPress and jQuery plugin featuring responsive design, touch support, animated layers, deep-linking, lazy loading, retina support, and more.">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="css/grid-accordion.min.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="libs/video-js/video-js.min.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="libs/fancybox/jquery.fancybox.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="css/examples.css" media="screen"/>

	<link rel="shortcut icon" href="../images/favicon.ico" type="../image/x-icon">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>

	<script type="text/javascript" src="libs/video-js/video.js"></script>
	<script type="text/javascript" src="http://cdn.sublimevideo.net/js/7oi5bx6y.js"></script>
	<script type="text/javascript" src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="js/jquery.gridAccordion.min.js"></script>
	<script type="text/javascript" src="js/examples.js"></script>

	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body class="product-page grid-accordion">
	<header>
		<h1>Grid Accordion</h1>
		<h2 class="subheading">Responsive and Touch-enabled grid for WordPress and jQuery</h2>
		<p class="link">by <a href="http://bqworks.com">bqworks</a></p>
	</header>

	<section class="example"></section>

	<section class="example-switcher">
		<div>
			<p>Example 1</p>
			<ul>
				<li>&gt; Auto vs. Custom responsiveness</li>
				<li>&gt; Pagination</li>
				<li>&gt; Touch Swipe</li>
				<li>&gt; Animated layers</li>
				<li>&gt; Lazy Loading</li>
				<li>&gt; Retina</li>
			</ul>
		</div>
		<div>
			<p>Example 2</p>
			<ul>
				<li>&gt; Background Swap</li>
				<li>&gt; Lightbox integration</li>
				<li>&gt; Break to pages</li>
				<li>&gt; Retina</li>
			</ul>
		</div>
		<div>
			<p>Example 3</p>
			<ul>
				<li>&gt; Static HTML content</li>
				<li>&gt; Video integration</li>
				<li>&gt; Deep Linking</li>
				<li>&gt; Auto Responsiveness</li>
			</ul>
		</div>
	</section>

	<section class="features">
		<h3>Works great on any screen</h3>

		<div class="feature">
			<h4>Fully Responsive</h4>
			<p>Grid Accordion is built with responsiveness in mind. It offers both an 'auto' and 'custom' mode, to make it easy to set up by anyone but also customizable by experienced users.</p>
		</div>

		<div class="feature">
			<h4>Touch-enabled</h4>
			<p>Grid Accordion will respond to touch-screen gestures, like touch-swipe or tap, providing mobile users a navigation method that they are familiar with.</p>
		</div>

		<div class="feature">
			<h4>Customizable rows and columns</h4>
			<p>It's possible to define the number of rows and columns in the grid. The script will automatically create as many pages as necessary to accommodate your configuration.</p>
		</div>

		<div class="separator"></div>

		<h3>Visually appealing</h3>

		<div class="feature">
			<h4>Animated Layers</h4>
			<p>One of the most powerful features of the grid is the support of highly customizable layers, both static and animated. Layers can contain anything, from simple text to video content.</p>
		</div>
		
		<div class="feature">
			<h4>Retina support</h4>
			<p>Grid Accordion will allow you to specify high resolution images for Retina screens. These images will be loaded on all screens that have a high PPI (pixels per inch).</p>
		</div>

		<div class="feature">
			<h4>Smooth Animations</h4>
			<p>Grid Accordion is optimized to offer the smoothest animations possible, by using CSS3 Transitions and the RequestAnimationFrame API for the layer and panel animations.</p>
		</div>

		<div class="separator"></div>

		<h3>Mindful of usability and semantics</h3>
		
		<div class="feature">
			<h4>Lazy Loading</h4>
			<p>You don't have to worry about loading many images because Grid Accordion provides the option to load images only when they are actually viewed by the visitor.</p>
		</div>

		<div class="feature">
			<h4>SEO-Friendly</h4>
			<p>The accordion's content will be fully visible to search engines. Also, you can use any HTML tags in the accordion, ensuring that your content is as semantic and SEO-friendly as possible.</p>
		</div>

		<div class="feature">
			<h4>Keyboard and mouse navigation</h4>
			<p>The plugin offers alternative and handy navigation methods, by making it possible to open the panels or pages using the keyboard's arrow keys or the mouse wheel.</p>
		</div>

		<div class="separator"></div>

		<h3>Many possibilities for designers and developers</h3>
		
		<div class="feature">
			<h4>Powerful JavaScript API</h4>
			<p>Grid Accordion provides a rich API that allows you to control the accordion from external sources, change its settings on runtime, add and remove content after the accordion has loaded, and much more.</p>
		</div>

		<div class="feature">
			<h4>Breakpoints</h4>
			<p>The grid accordion's settings can be changed for different screen sizes, similarly to how CSS media queries work. For examples, you can reduce the number of columns and/or rows on smaller screens, as seen in Example 2. </p>
		</div>

		<div class="feature">
			<h4>Modular architecture</h4>
			<p>The underlying JavaScript code is modular, consisting of a core and several optional modules. If you're a developer, you can easily strip out code that you don't need, thus reducing the file size.</p>
		</div>

		<div class="separator"></div>

		<h3>More useful features</h3>
		
		<div class="feature">
			<h4>Swap Image</h4>
			<p>The panel's background image can be replaced by another image when the panel is opened (as seen in Example 2), allowing you to make the grid accordion more engaging.</p>
		</div>

		<div class="feature">
			<h4>Lightbox integration</h4>
			<p>Grid Accordion can be integrated with any lightbox script. You can see this in action in Example 2. The Fancybox 2 lightbox is bundled with the accordion (for free).</p>
		</div>

		<div class="feature">
			<h4>Deep linking</h4>
			<p>Deep linking allows linking to specific panels in the accordion, as seen in Example 3. The link can be in the same page with the accordion or in another page.</p>
		</div>
	</section>

	<section class="features">
		<h2>WordPress Features</h2>
		
		<h3>Powerful, yet non-obtrusive</h3>

		<div class="feature">
			<h4>Dynamic Content</h4>
			<p>You can dynamically load content from posts (i.e., featured image, post title, excerpt, etc.), from WordPress galleries, and from Flickr. You can also combine multiple content types in the same accordion.</p>
		</div>
		
		<div class="feature">
			<h4>Automatic Updates</h4>
			<p>Grid Accordion can be updated automatically, directly from the WordPress Dashboard, just like you update most plugins. All your customizations will be preserved during updates.</p>
		</div>

		<div class="feature">
			<h4>Caching</h4>
			<p>All grid accordion instanced will be automatically cached, thus significantly improving the load speed and preventing any slowdown on your server. This is especially useful when you load content from posts, galleries or Flickr.</p>
		</div>
		
		<div class="separator"></div>

		<h3>Built with User Experience in mind</h3>

		<div class="feature">
			<h4>Clean and Intuitive UI</h4>
			<p>The plugin's user interface is similar to the default WordPress interface. Also, the plugin's UI makes it easy to manage accordions and panels. For example, you can easily sort panels and layers with a simple drag and drop.</p>
		</div>
		
		<div class="feature">
			<h4>Admin Preview</h4>
			<p>You can easily preview all your changes directly in the admin area, without having to publish or update the accordion first. You can even test the responsiveness in the preview.</p>
		</div>

		<div class="feature">
			<h4>Inline Help</h4>
			<p>In the plugin's admin area, you will find inline information about every important element. In some cases, the inline information also contains a video tutorial.</p>
		</div>
		
		<div class="separator"></div>

		<h3>Carefully coded</h3>
		
		<div class="feature">
			<h4>Secure</h4>
			<p>The Grid Accordion plugin uses the WordPress recommended practices for keeping all your data safe and preventing any unauthorized access.</p>
		</div>

		<div class="feature">
			<h4>Optimized</h4>
			<p>Another optimization-related feature, in addition to the caching feature mentioned before, is the loading of CSS and JavaScript files only in posts where the accordion is added.</p>
		</div>
		
		<div class="feature">
			<h4>Best Practices</h4>
			<p>Grid Accordion tries to ensure a smooth and conflict-less integration with any WordPress theme or plugin by implementing the WordPress development best practices.</p>
		</div>
		
		<div class="separator"></div>

		<h3>Use it anywhere</h3>

		<div class="feature">
			<h4>Multiple Publishing Methods</h4>
			<p>You can insert it in posts and pages by using a shortcode, you can insert it in template files by using PHP code, or in any widget area by using the built-in accordion widget.</p>
		</div>

		<div class="feature">
			<h4>MultiSite</h4>
			<p>Grid Accordion is fully compatible with MultiSite environments. Also, you can activate it network-wide or per site. Each site will have its own separate accordions.</p>
		</div>

		<div class="feature">
			<h4>Import and Export</h4>
			<p>You can easily move accordions between installations or create backups. The examples showcased above are bundled with the plugin and you can import them into your own installation.</p>
		</div>
		
		<div class="separator"></div>

		<h3>Easily customizable and highly extendable</h3>
		
		<div class="feature">
			<h4>Custom CSS and JavaScript</h4>
			<p>The Grid Accordion plugin offers the possibility to add your own custom CSS or JavaScript, thus allowing you to further enhance the accordion's aspect and behavior.</p>
		</div>
		
		<div class="feature">
			<h4>Action and Filter Hooks</h4>
			<p>The plugin provides over 20 hooks that allow developers to make changes without editing the plugin's core. This way, custom functionality will be preserved after updates.</p>
		</div>

		<div class="feature">
			<h4>Advanced Shortcodes</h4>
			<p>You can dynamically generate accordions, using only shortcodes, without the admin area. You can also override accordions created in the admin area.</p>
		</div>
	</section>

	<section class="video">
		<p class="video-note">A video is worth a thousand words</p>
		<div class="video-content">
			<div class="video-wrapper">
				<iframe width="640" height="360" src="http://www.youtube.com/embed/XqeHLv052Bc?list=PLh-6IaZNuPo7Skwefhb9T2CSazDjC56Lg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<section class="purchase">
		<p>
			<a href="http://codecanyon.net/item/grid-accordion-responsive-wordpress-plugin/7788530?ref=bqworks" rel="nofollow">Buy WordPress version &rarr;</a>
			<a href="http://codecanyon.net/item/grid-accordion-responsive-and-touchenabled-grid/141991?ref=bqworks" rel="nofollow">Buy jQuery version &rarr;</a>
		</p>
	</section>

	<div class="copyright">&copy; 2014 bqworks.com</div>
</body>

</html>