USE [master]
GO
/****** Object:  Database [CMS]    Script Date: 2/20/2015 5:23:40 PM ******/
CREATE DATABASE [CMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CMS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CMS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMS]
GO
/****** Object:  Table [dbo].[application]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application](
	[_app_id] [int] IDENTITY(1,1) NOT NULL,
	[app_name] [nvarchar](100) NULL,
	[is_active] [int] NULL,
 CONSTRAINT [PK_application] PRIMARY KEY CLUSTERED 
(
	[_app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bnp_vchr_client]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bnp_vchr_client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vchr_id] [int] NULL,
	[client_id] [int] NULL,
	[rest] [int] NULL,
 CONSTRAINT [PK_bnp_vchr_client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[category]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[_cid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[category_parent] [int] NULL,
	[create_date] [date] NULL,
	[create_by] [int] NULL,
 CONSTRAINT [PK_catergory] PRIMARY KEY CLUSTERED 
(
	[_cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[content]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content](
	[_cid] [int] IDENTITY(1,1) NOT NULL,
	[__rimage] [int] NULL,
	[__rvideo] [int] NULL,
	[__rcategory] [int] NULL,
	[thumbnail] [nvarchar](100) NULL,
	[create_by] [int] NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_content] PRIMARY KEY CLUSTERED 
(
	[_cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[content_detail]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_detail](
	[_cdid] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NULL,
	[__rlang] [nvarchar](3) NULL,
	[text] [nvarchar](max) NULL,
	[create_by] [int] NULL,
	[create_date] [datetime] NULL,
	[__rcontent] [int] NULL,
	[__rgallery] [int] NULL,
	[key_word] [nvarchar](1000) NULL,
	[no] [nvarchar](100) NULL,
	[publish_date] [datetime] NULL,
 CONSTRAINT [PK_content_detail] PRIMARY KEY CLUSTERED 
(
	[_cdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[content_extended_gallery]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_extended_gallery](
	[__ceid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_gallery_extra_content] PRIMARY KEY CLUSTERED 
(
	[__ceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[content_extra]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[content_extra](
	[ce_id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NULL,
	[_key] [varchar](100) NOT NULL,
	[_val] [varchar](100) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_content_extra] PRIMARY KEY CLUSTERED 
(
	[ce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[content_form]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_form](
	[_cfid] [int] IDENTITY(1,1) NOT NULL,
	[display_first_name] [int] NULL,
	[display_last_name] [int] NULL,
	[display_email] [int] NULL,
	[display_alias_name] [int] NULL,
	[display_address] [int] NULL,
	[login_needed] [int] NULL,
	[review_needed] [int] NULL,
	[create_date] [date] NULL,
	[__rcontent] [int] NULL,
	[create_by] [int] NULL,
	[display_text] [int] NULL,
 CONSTRAINT [PK_content_form] PRIMARY KEY CLUSTERED 
(
	[_cfid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[content_form_result]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_form_result](
	[_cfrid] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[alias_name] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[text] [nvarchar](max) NULL,
	[display] [int] NULL,
	[title] [nvarchar](100) NULL,
	[__rcontent_form] [int] NULL,
	[create_date] [datetime] NULL,
	[create_by] [int] NULL,
	[__rcontent] [int] NULL,
 CONSTRAINT [PK_content_form_result] PRIMARY KEY CLUSTERED 
(
	[_cfrid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eng_sort]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eng_sort](
	[_eid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[specification] [nvarchar](200) NULL,
	[city] [nvarchar](50) NULL,
	[ministry] [nvarchar](200) NULL,
	[create_date] [datetime] NULL,
	[create_by] [int] NULL,
 CONSTRAINT [PK_eng_order] PRIMARY KEY CLUSTERED 
(
	[_eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gallery]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gallery](
	[_gid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[is_active] [int] NULL,
	[create_by] [int] NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK_gallery] PRIMARY KEY CLUSTERED 
(
	[_gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gallery_detail]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gallery_detail](
	[_cdid] [int] IDENTITY(1,1) NOT NULL,
	[rgllary] [int] NULL,
	[img_url] [nvarchar](100) NULL,
 CONSTRAINT [PK_gallery_detail] PRIMARY KEY CLUSTERED 
(
	[_cdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[image]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[_iid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[create_by] [int] NULL,
	[create_date] [date] NULL,
	[__rcontent] [int] NULL,
 CONSTRAINT [PK_image_1] PRIMARY KEY CLUSTERED 
(
	[_iid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[job_type]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_type](
	[_jid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_job_type] PRIMARY KEY CLUSTERED 
(
	[_jid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[lang]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lang](
	[code] [nvarchar](3) NOT NULL,
	[name] [nvarchar](50) NULL,
	[create_date] [date] NULL,
	[create_by] [int] NULL,
	[direction] [nvarchar](3) NULL,
 CONSTRAINT [PK_lang] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[lang_detail]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lang_detail](
	[_ldid] [int] IDENTITY(1,1) NOT NULL,
	[__rlang] [nvarchar](3) NULL,
	[k] [nvarchar](50) NULL,
	[v] [nvarchar](500) NULL,
	[create_by] [int] NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK_lang_detail] PRIMARY KEY CLUSTERED 
(
	[_ldid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[legislation]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[legislation](
	[_lid] [int] IDENTITY(1,1) NOT NULL,
	[l_type] [nvarchar](50) NOT NULL,
	[l_num] [nvarchar](50) NOT NULL,
	[l_date] [date] NOT NULL,
	[l_summury] [nvarchar](250) NOT NULL,
	[l_doc] [int] NULL,
 CONSTRAINT [PK_legislation] PRIMARY KEY CLUSTERED 
(
	[_lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[location]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[_lid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_location] PRIMARY KEY CLUSTERED 
(
	[_lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[menu]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[_mid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[parent] [int] NULL,
	[__rcontent] [int] NULL,
	[__rmodule] [int] NULL,
	[create_by] [int] NULL,
	[create_date] [date] NULL,
	[__category] [int] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[_mid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[module]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module](
	[_mid] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [int] NULL,
	[create_date] [date] NULL,
	[type] [int] NULL,
	[create_by] [int] NULL,
	[__rcategory] [int] NULL,
	[region] [nvarchar](50) NULL,
 CONSTRAINT [PK_modules_1] PRIMARY KEY CLUSTERED 
(
	[_mid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[module_detail]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module_detail](
	[_mdid] [int] IDENTITY(1,1) NOT NULL,
	[attribute_name] [nvarchar](50) NULL,
	[attribute_value] [nvarchar](50) NULL,
	[__rmodule] [int] NULL,
 CONSTRAINT [PK_module_detail] PRIMARY KEY CLUSTERED 
(
	[_mdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[partner_clients]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_clients](
	[_cp_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[partener_id] [int] NULL,
 CONSTRAINT [PK_partner_clients] PRIMARY KEY CLUSTERED 
(
	[_cp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[permission]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[_pid] [int] IDENTITY(1,1) NOT NULL,
	[__rapplication] [int] NULL,
	[page] [nvarchar](50) NULL,
	[menu_id] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[security_level] [nvarchar](50) NULL,
 CONSTRAINT [PK_permission] PRIMARY KEY CLUSTERED 
(
	[_pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[permission_in_role]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission_in_role](
	[_prId] [int] IDENTITY(1,1) NOT NULL,
	[__role] [int] NULL,
	[__rpermission] [int] NULL,
 CONSTRAINT [PK_permission_in_role] PRIMARY KEY CLUSTERED 
(
	[_prId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[_rid] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NULL,
	[__rapplication] [int] NULL,
	[description] [nvarchar](200) NULL,
	[default_url] [nvarchar](200) NULL,
	[from_date] [date] NULL,
	[to_date] [date] NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[_rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[_uid] [int] NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[pwd] [nvarchar](500) NULL,
	[authenitication_mode] [int] NULL,
	[email] [nvarchar](100) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
	[create_by] [int] NULL,
	[is_active] [int] NULL,
	[type] [int] NULL,
	[mobile] [nvarchar](50) NULL,
	[location] [int] NULL,
	[work_category] [int] NULL,
	[website] [nvarchar](50) NULL,
	[social_network1] [nvarchar](50) NULL,
	[social_network2] [nvarchar](50) NULL,
	[social_newwork3] [nchar](10) NULL,
	[social_number] [nvarchar](50) NULL,
	[birthdate] [date] NULL,
	[img] [nvarchar](100) NULL,
	[gender] [int] NULL,
	[company] [varchar](100) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[serial_number] [varchar](20) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[_uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_in_role]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_in_role](
	[_urid] [int] IDENTITY(1,1) NOT NULL,
	[__user] [int] NULL,
	[__role] [int] NULL,
 CONSTRAINT [PK_user_in_role] PRIMARY KEY CLUSTERED 
(
	[_urid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[video]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[video](
	[_vid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[vedio] [nvarchar](50) NULL,
	[create_by] [int] NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK_video] PRIMARY KEY CLUSTERED 
(
	[_vid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[visitor]    Script Date: 2/20/2015 5:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitor](
	[_vid] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](100) NULL,
	[__rcontent] [int] NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK_visitor] PRIMARY KEY CLUSTERED 
(
	[_vid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[application] ON 

INSERT [dbo].[application] ([_app_id], [app_name], [is_active]) VALUES (1, N'bnpcard', 1)
SET IDENTITY_INSERT [dbo].[application] OFF
SET IDENTITY_INSERT [dbo].[bnp_vchr_client] ON 

INSERT [dbo].[bnp_vchr_client] ([id], [vchr_id], [client_id], [rest]) VALUES (1, 1340, 9, 1)
INSERT [dbo].[bnp_vchr_client] ([id], [vchr_id], [client_id], [rest]) VALUES (2, 1340, 10, 1)
SET IDENTITY_INSERT [dbo].[bnp_vchr_client] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([_cid], [name], [category_parent], [create_date], [create_by]) VALUES (62, N'Offers', 0, NULL, NULL)
INSERT [dbo].[category] ([_cid], [name], [category_parent], [create_date], [create_by]) VALUES (63, N'News', 0, NULL, NULL)
INSERT [dbo].[category] ([_cid], [name], [category_parent], [create_date], [create_by]) VALUES (64, N'bnp_latest_news', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[content] ON 

INSERT [dbo].[content] ([_cid], [__rimage], [__rvideo], [__rcategory], [thumbnail], [create_by], [create_date]) VALUES (399, NULL, NULL, 62, N'399_content_thumbnail_20141022.jpg', 1, CAST(0x0000A3CC00853677 AS DateTime))
INSERT [dbo].[content] ([_cid], [__rimage], [__rvideo], [__rcategory], [thumbnail], [create_by], [create_date]) VALUES (400, NULL, NULL, 62, N'400_content_thumbnail_20141022.png', 1, CAST(0x0000A3CC00937761 AS DateTime))
INSERT [dbo].[content] ([_cid], [__rimage], [__rvideo], [__rcategory], [thumbnail], [create_by], [create_date]) VALUES (401, NULL, NULL, 62, N'401_content_thumbnail_20141022.png', 1, CAST(0x0000A3CC00966A6B AS DateTime))
SET IDENTITY_INSERT [dbo].[content] OFF
SET IDENTITY_INSERT [dbo].[content_detail] ON 

INSERT [dbo].[content_detail] ([_cdid], [title], [__rlang], [text], [create_by], [create_date], [__rcontent], [__rgallery], [key_word], [no], [publish_date]) VALUES (324, N'Offer1', N'en', N'<p>Here is Offer1 details</p>
', 1, CAST(0x0000A3CC008576A6 AS DateTime), 399, NULL, N'1717%##partner##default_key_words', N'', NULL)
INSERT [dbo].[content_detail] ([_cdid], [title], [__rlang], [text], [create_by], [create_date], [__rcontent], [__rgallery], [key_word], [no], [publish_date]) VALUES (325, N'Offer2', N'en', N'<p>Offers 2 is provided by x 20% for parteners</p>
', 1, CAST(0x0000A3CC0093B7E9 AS DateTime), 400, NULL, N'20%##partner##default_key_words', N'', NULL)
INSERT [dbo].[content_detail] ([_cdid], [title], [__rlang], [text], [create_by], [create_date], [__rcontent], [__rgallery], [key_word], [no], [publish_date]) VALUES (326, N'mdGqOliBvdAQ0vEHsneNfA==', N'en', N'rYmz97YwbRrGu6mz1H8EQddtC1chxvsBoEWpd8zdyHk=', 1, CAST(0x0000A3CC00969F24 AS DateTime), 401, NULL, N'20%##partner##default_key_words', N'', NULL)
SET IDENTITY_INSERT [dbo].[content_detail] OFF
SET IDENTITY_INSERT [dbo].[content_extended_gallery] ON 

INSERT [dbo].[content_extended_gallery] ([__ceid], [name], [status]) VALUES (1, N'latest', 1)
INSERT [dbo].[content_extended_gallery] ([__ceid], [name], [status]) VALUES (2, N'oldest', 1)
SET IDENTITY_INSERT [dbo].[content_extended_gallery] OFF
SET IDENTITY_INSERT [dbo].[content_extra] ON 

INSERT [dbo].[content_extra] ([ce_id], [content_id], [_key], [_val], [status]) VALUES (43, 3428, N'display', N'active', NULL)
INSERT [dbo].[content_extra] ([ce_id], [content_id], [_key], [_val], [status]) VALUES (44, 3429, N'display', N'inactive', NULL)
INSERT [dbo].[content_extra] ([ce_id], [content_id], [_key], [_val], [status]) VALUES (1050, 3434, N'panner', N'upper', 0)
SET IDENTITY_INSERT [dbo].[content_extra] OFF
SET IDENTITY_INSERT [dbo].[content_form] ON 

INSERT [dbo].[content_form] ([_cfid], [display_first_name], [display_last_name], [display_email], [display_alias_name], [display_address], [login_needed], [review_needed], [create_date], [__rcontent], [create_by], [display_text]) VALUES (302, 0, 0, 0, 0, 0, 0, 0, NULL, 399, NULL, 0)
INSERT [dbo].[content_form] ([_cfid], [display_first_name], [display_last_name], [display_email], [display_alias_name], [display_address], [login_needed], [review_needed], [create_date], [__rcontent], [create_by], [display_text]) VALUES (303, 0, 0, 0, 0, 0, 0, 0, NULL, 400, NULL, 0)
INSERT [dbo].[content_form] ([_cfid], [display_first_name], [display_last_name], [display_email], [display_alias_name], [display_address], [login_needed], [review_needed], [create_date], [__rcontent], [create_by], [display_text]) VALUES (304, 0, 0, 0, 0, 0, 0, 0, NULL, 401, NULL, 0)
SET IDENTITY_INSERT [dbo].[content_form] OFF
SET IDENTITY_INSERT [dbo].[eng_sort] ON 

INSERT [dbo].[eng_sort] ([_eid], [name], [specification], [city], [ministry], [create_date], [create_by]) VALUES (201, N'كنان صلاح الدين سليمان', N'مدني عام', N'اللاذقية', N'وزارة النقل', CAST(0x0000A2FE001F00A3 AS DateTime), 1)
INSERT [dbo].[eng_sort] ([_eid], [name], [specification], [city], [ministry], [create_date], [create_by]) VALUES (202, N'علاء عباس عبدالرحمن', N'مدني عام', N'اللاذقية', N'وزارة الثقافة', CAST(0x0000A2FE001F00A3 AS DateTime), 1)
INSERT [dbo].[eng_sort] ([_eid], [name], [specification], [city], [ministry], [create_date], [create_by]) VALUES (203, N'تيماء اسماعيل مصطفى', N'مدني عام', N'اللاذقية', N'وزارة الدفاع', CAST(0x0000A2FE001F00A3 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[eng_sort] OFF
SET IDENTITY_INSERT [dbo].[gallery] ON 

INSERT [dbo].[gallery] ([_gid], [name], [is_active], [create_by], [create_date]) VALUES (2, N'album2ee', 0, 1, NULL)
INSERT [dbo].[gallery] ([_gid], [name], [is_active], [create_by], [create_date]) VALUES (3, N'ablum3', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[gallery] OFF
SET IDENTITY_INSERT [dbo].[gallery_detail] ON 

INSERT [dbo].[gallery_detail] ([_cdid], [rgllary], [img_url]) VALUES (8, 2, N'img4.png')
INSERT [dbo].[gallery_detail] ([_cdid], [rgllary], [img_url]) VALUES (13, 3, N'img9.png')
INSERT [dbo].[gallery_detail] ([_cdid], [rgllary], [img_url]) VALUES (14, 3, N'img10.png')
SET IDENTITY_INSERT [dbo].[gallery_detail] OFF
SET IDENTITY_INSERT [dbo].[job_type] ON 

INSERT [dbo].[job_type] ([_jid], [name]) VALUES (1, N'Fashion')
INSERT [dbo].[job_type] ([_jid], [name]) VALUES (2, N'Sport')
INSERT [dbo].[job_type] ([_jid], [name]) VALUES (3, N'IT')
SET IDENTITY_INSERT [dbo].[job_type] OFF
INSERT [dbo].[lang] ([code], [name], [create_date], [create_by], [direction]) VALUES (N'ar', N'العربية', CAST(0x12380B00 AS Date), NULL, N'rtl')
INSERT [dbo].[lang] ([code], [name], [create_date], [create_by], [direction]) VALUES (N'en', N'English', CAST(0x18380B00 AS Date), NULL, N'ltr')
SET IDENTITY_INSERT [dbo].[lang_detail] ON 

INSERT [dbo].[lang_detail] ([_ldid], [__rlang], [k], [v], [create_by], [create_date]) VALUES (12, N'ar', N'all_languages', N'كل اللغات', NULL, CAST(0x12380B00 AS Date))
INSERT [dbo].[lang_detail] ([_ldid], [__rlang], [k], [v], [create_by], [create_date]) VALUES (13, N'ar', N'name', N'الاسم', NULL, CAST(0x12380B00 AS Date))
INSERT [dbo].[lang_detail] ([_ldid], [__rlang], [k], [v], [create_by], [create_date]) VALUES (22, N'ar', N'code', N'الرمز', NULL, CAST(0x18380B00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[lang_detail] OFF
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([_lid], [name]) VALUES (1, N'Beruit')
INSERT [dbo].[location] ([_lid], [name]) VALUES (2, N'Aley')
INSERT [dbo].[location] ([_lid], [name]) VALUES (3, N'El Maten')
SET IDENTITY_INSERT [dbo].[location] OFF
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([_mid], [name], [parent], [__rcontent], [__rmodule], [create_by], [create_date], [__category]) VALUES (5, N'category', 0, NULL, 5, NULL, NULL, 0)
INSERT [dbo].[menu] ([_mid], [name], [parent], [__rcontent], [__rmodule], [create_by], [create_date], [__category]) VALUES (6, N'module', 0, NULL, 5, NULL, NULL, 0)
INSERT [dbo].[menu] ([_mid], [name], [parent], [__rcontent], [__rmodule], [create_by], [create_date], [__category]) VALUES (7, N'content', 0, NULL, 5, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[menu] OFF
SET IDENTITY_INSERT [dbo].[module] ON 

INSERT [dbo].[module] ([_mid], [title], [description], [is_active], [create_date], [type], [create_by], [__rcategory], [region]) VALUES (2, N'main_menu', N'Main Menu', 1, CAST(0x0F380B00 AS Date), 1, NULL, NULL, N'rs1')
INSERT [dbo].[module] ([_mid], [title], [description], [is_active], [create_date], [type], [create_by], [__rcategory], [region]) VALUES (3, N'language', N'Language', 1, CAST(0x14380B00 AS Date), 2, 1, NULL, N'')
INSERT [dbo].[module] ([_mid], [title], [description], [is_active], [create_date], [type], [create_by], [__rcategory], [region]) VALUES (4, N'category', N'categot', 1, CAST(0x14380B00 AS Date), 3, 1, NULL, N'')
SET IDENTITY_INSERT [dbo].[module] OFF
SET IDENTITY_INSERT [dbo].[module_detail] ON 

INSERT [dbo].[module_detail] ([_mdid], [attribute_name], [attribute_value], [__rmodule]) VALUES (546, N'num_of_contents', N'6', 106)
INSERT [dbo].[module_detail] ([_mdid], [attribute_name], [attribute_value], [__rmodule]) VALUES (547, N'width', N'720', 106)
INSERT [dbo].[module_detail] ([_mdid], [attribute_name], [attribute_value], [__rmodule]) VALUES (548, N'height', N'500', 106)
SET IDENTITY_INSERT [dbo].[module_detail] OFF
SET IDENTITY_INSERT [dbo].[partner_clients] ON 

INSERT [dbo].[partner_clients] ([_cp_id], [client_id], [partener_id]) VALUES (19, 6, 5)
INSERT [dbo].[partner_clients] ([_cp_id], [client_id], [partener_id]) VALUES (20, 9, 5)
INSERT [dbo].[partner_clients] ([_cp_id], [client_id], [partener_id]) VALUES (21, 10, 5)
SET IDENTITY_INSERT [dbo].[partner_clients] OFF
SET IDENTITY_INSERT [dbo].[permission] ON 

INSERT [dbo].[permission] ([_pid], [__rapplication], [page], [menu_id], [description], [security_level]) VALUES (2, 1, NULL, N'category', N'for category menu', NULL)
INSERT [dbo].[permission] ([_pid], [__rapplication], [page], [menu_id], [description], [security_level]) VALUES (5, 1, NULL, N'module', N'for module menu', NULL)
INSERT [dbo].[permission] ([_pid], [__rapplication], [page], [menu_id], [description], [security_level]) VALUES (6, 1, NULL, N'language', N'language', NULL)
SET IDENTITY_INSERT [dbo].[permission] OFF
SET IDENTITY_INSERT [dbo].[permission_in_role] ON 

INSERT [dbo].[permission_in_role] ([_prId], [__role], [__rpermission]) VALUES (7, 6, 2)
INSERT [dbo].[permission_in_role] ([_prId], [__role], [__rpermission]) VALUES (77, 10, 2)
INSERT [dbo].[permission_in_role] ([_prId], [__role], [__rpermission]) VALUES (78, 10, 7)
SET IDENTITY_INSERT [dbo].[permission_in_role] OFF
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([_rid], [role_name], [__rapplication], [description], [default_url], [from_date], [to_date]) VALUES (1, N'Admin', 1, N'r1', N'view/adminisrtation.aspx', CAST(0x75250B00 AS Date), CAST(0x01380B00 AS Date))
INSERT [dbo].[role] ([_rid], [role_name], [__rapplication], [description], [default_url], [from_date], [to_date]) VALUES (6, N'role233', 1, N'sdsd', NULL, CAST(0xC3150B00 AS Date), CAST(0x6C320B00 AS Date))
INSERT [dbo].[role] ([_rid], [role_name], [__rapplication], [description], [default_url], [from_date], [to_date]) VALUES (9, N'press_office_role', 1, N'Press Office Role', NULL, CAST(0x05380B00 AS Date), CAST(0x08380B00 AS Date))
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[user_in_role] ON 

INSERT [dbo].[user_in_role] ([_urid], [__user], [__role]) VALUES (13, 4, 9)
INSERT [dbo].[user_in_role] ([_urid], [__user], [__role]) VALUES (14, 1, 1)
INSERT [dbo].[user_in_role] ([_urid], [__user], [__role]) VALUES (15, 3, 1)
SET IDENTITY_INSERT [dbo].[user_in_role] OFF
SET IDENTITY_INSERT [dbo].[visitor] ON 

INSERT [dbo].[visitor] ([_vid], [address], [__rcontent], [create_date]) VALUES (3712, N'', 400, CAST(0x4C390B00 AS Date))
INSERT [dbo].[visitor] ([_vid], [address], [__rcontent], [create_date]) VALUES (1689, N'', 401, CAST(0x33390B00 AS Date))
INSERT [dbo].[visitor] ([_vid], [address], [__rcontent], [create_date]) VALUES (1688, N'', 402, CAST(0x33390B00 AS Date))
SET IDENTITY_INSERT [dbo].[visitor] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_user]    Script Date: 2/20/2015 5:23:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_user] ON [dbo].[user]
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_visitor]    Script Date: 2/20/2015 5:23:41 PM ******/
ALTER TABLE [dbo].[visitor] ADD  CONSTRAINT [IX_visitor] UNIQUE NONCLUSTERED 
(
	[__rcontent] ASC,
	[address] ASC,
	[create_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[category] ADD  CONSTRAINT [DF_category_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[content] ADD  CONSTRAINT [DF_content_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[content_extended_gallery] ADD  CONSTRAINT [DF_gallery_extra_content_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[content_extra] ADD  CONSTRAINT [DF_content_extra_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[content_form] ADD  CONSTRAINT [DF_content_form_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[gallery] ADD  CONSTRAINT [DF_gallery_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lang_detail] ADD  CONSTRAINT [DF_lang_detail_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[bnp_vchr_client]  WITH CHECK ADD  CONSTRAINT [FK_bnp_vchr_client_content_detail] FOREIGN KEY([vchr_id])
REFERENCES [dbo].[content_detail] ([_cdid])
GO
ALTER TABLE [dbo].[bnp_vchr_client] CHECK CONSTRAINT [FK_bnp_vchr_client_content_detail]
GO
ALTER TABLE [dbo].[bnp_vchr_client]  WITH CHECK ADD  CONSTRAINT [FK_bnp_vchr_client_user] FOREIGN KEY([client_id])
REFERENCES [dbo].[user] ([_uid])
GO
ALTER TABLE [dbo].[bnp_vchr_client] CHECK CONSTRAINT [FK_bnp_vchr_client_user]
GO
ALTER TABLE [dbo].[content]  WITH CHECK ADD  CONSTRAINT [FK_content_catergory] FOREIGN KEY([__rcategory])
REFERENCES [dbo].[category] ([_cid])
GO
ALTER TABLE [dbo].[content] CHECK CONSTRAINT [FK_content_catergory]
GO
ALTER TABLE [dbo].[content]  WITH CHECK ADD  CONSTRAINT [FK_content_content] FOREIGN KEY([_cid])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[content] CHECK CONSTRAINT [FK_content_content]
GO
ALTER TABLE [dbo].[content]  WITH CHECK ADD  CONSTRAINT [FK_content_image] FOREIGN KEY([__rimage])
REFERENCES [dbo].[image] ([_iid])
GO
ALTER TABLE [dbo].[content] CHECK CONSTRAINT [FK_content_image]
GO
ALTER TABLE [dbo].[content]  WITH CHECK ADD  CONSTRAINT [FK_content_video] FOREIGN KEY([__rvideo])
REFERENCES [dbo].[video] ([_vid])
GO
ALTER TABLE [dbo].[content] CHECK CONSTRAINT [FK_content_video]
GO
ALTER TABLE [dbo].[content_detail]  WITH CHECK ADD  CONSTRAINT [FK_content_detail_content] FOREIGN KEY([__rlang])
REFERENCES [dbo].[lang] ([code])
GO
ALTER TABLE [dbo].[content_detail] CHECK CONSTRAINT [FK_content_detail_content]
GO
ALTER TABLE [dbo].[content_detail]  WITH CHECK ADD  CONSTRAINT [FK_content_detail_content1] FOREIGN KEY([__rcontent])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[content_detail] CHECK CONSTRAINT [FK_content_detail_content1]
GO
ALTER TABLE [dbo].[content_detail]  WITH CHECK ADD  CONSTRAINT [FK_content_detail_gallery] FOREIGN KEY([__rgallery])
REFERENCES [dbo].[gallery] ([_gid])
GO
ALTER TABLE [dbo].[content_detail] CHECK CONSTRAINT [FK_content_detail_gallery]
GO
ALTER TABLE [dbo].[content_extended_gallery]  WITH CHECK ADD  CONSTRAINT [FK_gallery_extra_content_gallery_extra_content] FOREIGN KEY([__ceid])
REFERENCES [dbo].[content_extended_gallery] ([__ceid])
GO
ALTER TABLE [dbo].[content_extended_gallery] CHECK CONSTRAINT [FK_gallery_extra_content_gallery_extra_content]
GO
ALTER TABLE [dbo].[content_extra]  WITH CHECK ADD  CONSTRAINT [FK_content_extra_content] FOREIGN KEY([content_id])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[content_extra] CHECK CONSTRAINT [FK_content_extra_content]
GO
ALTER TABLE [dbo].[content_form]  WITH CHECK ADD  CONSTRAINT [FK_content_form_content] FOREIGN KEY([__rcontent])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[content_form] CHECK CONSTRAINT [FK_content_form_content]
GO
ALTER TABLE [dbo].[content_form_result]  WITH CHECK ADD  CONSTRAINT [FK_content_form_result_content] FOREIGN KEY([__rcontent])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[content_form_result] CHECK CONSTRAINT [FK_content_form_result_content]
GO
ALTER TABLE [dbo].[content_form_result]  WITH CHECK ADD  CONSTRAINT [FK_content_form_result_content_form] FOREIGN KEY([__rcontent_form])
REFERENCES [dbo].[content_form] ([_cfid])
GO
ALTER TABLE [dbo].[content_form_result] CHECK CONSTRAINT [FK_content_form_result_content_form]
GO
ALTER TABLE [dbo].[gallery_detail]  WITH CHECK ADD  CONSTRAINT [FK_gallery_detail_gallery] FOREIGN KEY([rgllary])
REFERENCES [dbo].[gallery] ([_gid])
GO
ALTER TABLE [dbo].[gallery_detail] CHECK CONSTRAINT [FK_gallery_detail_gallery]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK_image_image] FOREIGN KEY([__rcontent])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_image_image]
GO
ALTER TABLE [dbo].[lang_detail]  WITH CHECK ADD  CONSTRAINT [FK_lang_detail_lang_detail] FOREIGN KEY([__rlang])
REFERENCES [dbo].[lang] ([code])
GO
ALTER TABLE [dbo].[lang_detail] CHECK CONSTRAINT [FK_lang_detail_lang_detail]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_content] FOREIGN KEY([__rcontent])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_content]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_module] FOREIGN KEY([__rmodule])
REFERENCES [dbo].[module] ([_mid])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_module]
GO
ALTER TABLE [dbo].[module]  WITH CHECK ADD  CONSTRAINT [FK_module_catergory] FOREIGN KEY([__rcategory])
REFERENCES [dbo].[category] ([_cid])
GO
ALTER TABLE [dbo].[module] CHECK CONSTRAINT [FK_module_catergory]
GO
ALTER TABLE [dbo].[module_detail]  WITH CHECK ADD  CONSTRAINT [FK_module_detail_module] FOREIGN KEY([__rmodule])
REFERENCES [dbo].[module] ([_mid])
GO
ALTER TABLE [dbo].[module_detail] CHECK CONSTRAINT [FK_module_detail_module]
GO
ALTER TABLE [dbo].[partner_clients]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_USR] FOREIGN KEY([client_id])
REFERENCES [dbo].[user] ([_uid])
GO
ALTER TABLE [dbo].[partner_clients] CHECK CONSTRAINT [FK_CLIENT_USR]
GO
ALTER TABLE [dbo].[partner_clients]  WITH CHECK ADD  CONSTRAINT [FK_PARTNER_USER] FOREIGN KEY([partener_id])
REFERENCES [dbo].[user] ([_uid])
GO
ALTER TABLE [dbo].[partner_clients] CHECK CONSTRAINT [FK_PARTNER_USER]
GO
ALTER TABLE [dbo].[permission]  WITH CHECK ADD  CONSTRAINT [FK_permission_application] FOREIGN KEY([__rapplication])
REFERENCES [dbo].[application] ([_app_id])
GO
ALTER TABLE [dbo].[permission] CHECK CONSTRAINT [FK_permission_application]
GO
ALTER TABLE [dbo].[permission_in_role]  WITH CHECK ADD  CONSTRAINT [FK_permission_in_role_permission] FOREIGN KEY([__rpermission])
REFERENCES [dbo].[permission] ([_pid])
GO
ALTER TABLE [dbo].[permission_in_role] CHECK CONSTRAINT [FK_permission_in_role_permission]
GO
ALTER TABLE [dbo].[permission_in_role]  WITH CHECK ADD  CONSTRAINT [FK_permission_in_role_role] FOREIGN KEY([__role])
REFERENCES [dbo].[role] ([_rid])
GO
ALTER TABLE [dbo].[permission_in_role] CHECK CONSTRAINT [FK_permission_in_role_role]
GO
ALTER TABLE [dbo].[role]  WITH CHECK ADD  CONSTRAINT [FK_role_application] FOREIGN KEY([__rapplication])
REFERENCES [dbo].[application] ([_app_id])
GO
ALTER TABLE [dbo].[role] CHECK CONSTRAINT [FK_role_application]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_user] FOREIGN KEY([_uid])
REFERENCES [dbo].[user] ([_uid])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_user]
GO
ALTER TABLE [dbo].[user_in_role]  WITH CHECK ADD  CONSTRAINT [FK_user_in_role_role] FOREIGN KEY([__role])
REFERENCES [dbo].[role] ([_rid])
GO
ALTER TABLE [dbo].[user_in_role] CHECK CONSTRAINT [FK_user_in_role_role]
GO
ALTER TABLE [dbo].[user_in_role]  WITH CHECK ADD  CONSTRAINT [FK_user_in_role_user] FOREIGN KEY([__user])
REFERENCES [dbo].[user] ([_uid])
GO
ALTER TABLE [dbo].[user_in_role] CHECK CONSTRAINT [FK_user_in_role_user]
GO
ALTER TABLE [dbo].[visitor]  WITH CHECK ADD  CONSTRAINT [FK_visitor_content] FOREIGN KEY([__rcontent])
REFERENCES [dbo].[content] ([_cid])
GO
ALTER TABLE [dbo].[visitor] CHECK CONSTRAINT [FK_visitor_content]
GO
USE [master]
GO
