<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="CMSConnectionString1" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10000"/>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Allow all files with 'web.config' name. -->
				<fileExtensions>
					<clear/>
				</fileExtensions>
				<!-- Allow all folders with 'bin', 'App_code', 'App_Data', etc names. -->
				<hiddenSegments>
					<clear/>
				</hiddenSegments>
				<!-- Maximum upload file segment size in bytes is 2147483648 (2Gb) -->
				<requestLimits maxAllowedContentLength="2147483648"/>
			</requestFiltering>
		</security>
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<clear/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
